<div class="my-2">
  <%= render(CardComponent.new) do %>
    <%= form_with model: user do |form| %>
      <div class="flex flex-col gap-2">
        <%= render "shared/errors", form: form %>

        <div>
          <%= form.label :email_address %>
          <%= form.email_field :email_address, class: "form-control", required: true, autocomplete: "username" %>
        </div>

        <div>
          <%= form.label :name %>
          <%= form.text_field :name, class: "form-control", required: true, autocomplete: "name" %>
        </div>

        <% if user.new_record? %>
          <div>
            <%= form.label :password %>
            <%=
              form.password_field :password,
                                  class: "form-control",
                                  required: true,
                                  autocomplete: user.persisted? ? "current-password" : "new-password"
            %>
          </div>

          <div>
            <%= form.label :password_confirmation %>
            <%=
              form.password_field :password_confirmation,
                                  class: "form-control",
                                  required: true,
                                  autocomplete: user.persisted? ? "current-password" : "new-password"
            %>
          </div>
        <% end %>

        <div>
          <%= render(SubmitComponent.new(form)) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
