<% if user.profile_picture.attached? %>
  <div class="flex justify-center">
    <%= image_tag user.profile_picture.variant(:profile), class: "rounded-lg" %>
  </div>
<% end %>

<% games_count = user.games.count %>
<% wins = user.games.select { |game| game.players.first.user == user }.count %>
<p>
  Played
  <%= games_count %>
  <%= "game".pluralize(games_count) %>
  and won
  <%= wins %>
  <%= "time".pluralize(wins) %>
  🔥.
</p>

<p>
  That is a win rate of
  <%= (wins / games_count.to_f * 100).round %>%.
</p>

<% average_player_count = user.games.sum { |game| game.players.count } / user.games.count.to_f %>
<p>
  Playes on average games with a total of
  <%= average_player_count.round(2) %>
  players.
</p>

<p>
  <%
    boards =
      Board
        .joins(games: :players)
        .where(players: { user_id: user.id })
        .group("boards.id")
        .select("boards.*, COUNT(games.id) as games_count")
    games_count = boards.max_by(&:games_count).games_count
  %>
  Played the most games on
  <%= boards.select { |board| board.games_count == games_count }.map(&:name).join(", ") %>
  (<%= games_count %>
  <%= "game".pluralize(games_count) %>).
</p>
