<div class="flex justify-between items-center">
  <h1><%= @user.name %></h1>

  <p>
    <% if policy(@user).update? %>
      <%= link_to @user == Current.user ? %i[edit profile] : [:edit, @user] do %>
        <%= icon("pencil") %>
      <% end %>
    <% end %>
  </p>
</div>

<%= render(CardComponent.new) do %>
  <%= render @user %>
<% end %>

<h1>Games</h1>

<%= render partial: "games/games", locals: { games: @user.games.reverse_order, user: @user } %>
