<%= form_with model: game do |form| %>
  <%= render "shared/errors", form: form %>

  <fieldset>
    <legend><%= form.label :date %></legend>
    <%= form.date_field :date, required: true %>
  </fieldset>

  <fieldset>
    <legend><%= form.label :number_of_generations %></legend>
    <%= form.number_field :num_generations, min: 0, step: 1 %>
  </fieldset>

  <fieldset>
    <legend><%= t(:board) %></legend>
    <%= form.collection_radio_buttons :board_id, Board.all, :id, :name do |b| %>
      <%= b.radio_button %><%= b.label %>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Extensions</legend>
    <%= form.collection_check_boxes :extension_ids, Extension.all, :id, :name do |b| %>
      <div>
        <%= b.check_box %><%= b.label %>
      </div>
    <% end %>
  </fieldset>

  <%= form.fields_for :players do |players_form| %>
    <fieldset>
      <legend>Player
        <%= players_form.options[:child_index] + 1 %></legend>

      <%= players_form.label :user %>
      <%= players_form.collection_select :user_id, User.all, :id, :name, include_blank: true %>

      <%= players_form.label :corporation %>
      <%= players_form.collection_select :corporation_id, Corporation.all, :id, :name, include_blank: true %>

      <%= players_form.label :victory_points %>
      <%= players_form.number_field :victory_points, min: 0, step: 1 %>

      <%= players_form.label :rank %>
      <%= players_form.number_field :rank, min: 1, max: 5, step: 1 %>
    </fieldset>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
