<br>
<div>
  <span><strong><%= game.date %></strong>
    <%= game.board.name %>
    <% if game.num_generations.present? %>
      -
      <%= game.num_generations %>
      Generations
    <% end %>
  </span>

  <p>
    <strong>Players:</strong>
    <ul>
      <% game.players.each do |player| %>
        <li>
          <% if policy(player.user).show? %>
            <%= link_to player.user.name, user_path(player.user) %>
          <% end %>
          <% if player.corporation.present? %>
            (<%= player.corporation.name %>):
          <% end %>
          <%= player.victory_points %>
          VP
        </li>
      <% end %>
    </ul>
  </p>

  <% if policy(game).update? %>
    <%= link_to "Edit this game", edit_game_path(game) %>
  <% end %>
</div>
<br>
