<details>
  <summary>
    <span><strong><%= game.date %></strong>
      <%= game.players.count %>
      <%= "Player".pluralize(game.players.count) %>
      on
      <%= game.board.name %>
      <% if game.num_generations.present? %>
        -
        <%= game.num_generations %>
        <%= "Generation".pluralize(game.num_generations) %>
      <% end %>
    </span>
  </summary>

  <p>
    <strong>Players:</strong>
    <ul>
      <% game.players.each do |player| %>
        <details>
          <summary>
            <%= player.user.name %>
            <% if player.corporation.present? %>
              (<%= player.corporation.name %>):
            <% end %>
            <%= player.victory_points %>
            VP
          </summary>
          <div style="display: flex; gap: 1rem;">
            <div>
              <%= image_tag player.user.profile_picture.variant(:thumb) if player.user.profile_picture.attached? %>
            </div>
            <div style="display: flex; flex-direction: column; gap: 1rem;">
              <div>
                <% if policy(player.user).show? %>
                  <%= link_to "Show profile", user_path(player.user) %>
                <% end %>
              </div>
            </div>
          </div>
        </details>
      <% end %>
    </ul>
  </p>

  <% if policy(game).update? %>
    <%= link_to "Edit this game", edit_game_path(game) %>
  <% end %>
</details>
