<div class="my-2" id="<%= dom_id(game) %>">
  <%= render(CardComponent.new) do %>
    <details data-controller="details" data-action="turbo:before-morph-attribute->details#keepOpen">
      <summary>
        <span>
          <strong><%= l(game.time, format: "%d.%m.%Y") %></strong>
          <%= game.board.name %>
          <span class="float-right"><%= icon("trophy") if game.ranked? %></span>
        </span>
        <div>
          <% game.players.count.times do |i| %>
            <% green = "text-green-500" if i == game.players.map(&:user).find_index(Current.user) %>
            <% if i == game.players.map(&:user).find_index(user) %>
              <span class="<%= green %>"><%= user.name.first %></span>
            <% else %>
              <span class="<%= green %>"><%= icon("person") %></span>
            <% end %>
          <% end %>
        </div>
      </summary>

      <% if game.num_generations.present? %>
        <div>
          <%= icon("hourglass-split") %>
          <%= game.num_generations %>
        </div>
      <% end %>

      <div class="my-4 flex flex-col gap-4">
        <% game.players.each do |player| %>
          <div>
            <div class="flex justify-between">
              <div class="flex items-center gap-2">
                <%= render partial: "users/profile_picture", locals: { user: player.user, variant: :tiny } %>
                <strong><%= link_to player.user.name, player.user %></strong>
              </div>
              <% if game.ranked? %>
                <div>
                  <% if player.elo_impact.blank? %>
                    <%= icon("dash") %>
                  <% elsif player.elo_impact.positive? %>
                    <div class="text-green-500">
                      <%= icon("arrow-up") %><%= player.elo_impact.abs %>
                    </div>
                  <% elsif player.elo_impact.negative? %>
                    <div class="text-red-500">
                      <%= icon("arrow-down") %><%= player.elo_impact.abs %>
                    </div>
                  <% else %>
                    <%= icon("dash") %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="flex justify-between">
              <div>
                <% if player.corporation.present? %>
                  <%= player.corporation.name %>
                <% end %>
              </div>
              <div>
                <%= player.victory_points %>
                VP
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <% if policy(game).update? %>
        <%= link_to "Edit this game", [:edit, game] %>
      <% end %>
    </details>
  <% end %>
</div>
