<% if authenticated? %>
  <nav>
    <%= render(CardComponent.new) do %>
      <div class="flex flex-1 justify-evenly font-bold">

        <% if policy(:leaderboards).show? %>
          <%= link_to :leaderboard do %>
            <%= icon("trophy") %>
          <% end %>
        <% end %>

        <% if policy(%i[stats corporations]).show? %>
          <%= link_to %i[stats corporations] do %>
            <%= icon("building") %>
          <% end %>
        <% end %>

        <% if policy(Game).index? %>
          <%= link_to Game do %>
            <%= icon("list-ul") %>
          <% end %>
        <% end %>

        <% if policy(Game).create? %>
          <%= link_to %i[new game] do %>
            <%= icon("plus-circle") %>
          <% end %>
        <% end %>

        <%= link_to :profile do %>
          <div class="text-green-500 hover:text-green-700">
            <%= icon("person-circle") %>
          </div>
        <% end %>

        <%= render ModalComponent.new(id: "log-out-modal") do |modal| %>
          <%= modal.with_body do %>
            <%= render CardComponent.new do %>
              <div class="flex flex-col items-center justify-center gap-2">
                <div>Continue with log out?</div>
                <div class="flex gap-2">
                  <form method="dialog">
                    <button class="cursor-pointer rounded-lg bg-slate-700 px-4 py-2 font-bold hover:bg-slate-600">
                      Cancel
                    </button>
                  </form>
                  <%=
                    button_to :logout,
                              method: :delete,
                              class: "cursor-pointer rounded-lg bg-red-700 px-4 py-2 font-bold hover:bg-red-600",
                              form: {
                                class: "inline",
                              } do
                  %>
                    Log out
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>

          <%= modal.with_opener do %>
            <button class="hover:text-slate-400">
              <%= icon("door-open") %>
            </button>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if policy(User).index? || policy(User).create? %>
      <div class="mt-2">
        <%= render(CardComponent.new) do %>
          <div class="flex flex-1 justify-evenly font-bold">
            <% if policy(User).index? %>
              <%= link_to User do %>
                <%= icon("people") %>
              <% end %>
            <% end %>

            <% if policy(User).create? %>
              <%= link_to %i[new user] do %>
                <%= icon("person-plus") %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </nav>
<% end %>
