<% if authenticated? %>
  <nav>
    <%= render(CardComponent.new) do %>
      <div class="font-bold flex flex-1 justify-evenly">

        <% if policy(User).index? %>
          <%= link_to User do %>
            <i class="bi bi-people"></i>
          <% end %>
        <% end %>

        <% if policy(User).create? %>
          <%= link_to %i[new user] do %>
            <i class="bi bi-person-plus"></i>
          <% end %>
        <% end %>

        <% if policy(:leaderboards).show? %>
          <%= link_to :leaderboard do %>
            <i class="bi bi-trophy"></i>
          <% end %>
        <% end %>

        <% if policy(Game).index? %>
          <%= link_to Game do %>
            <i class="bi bi-list-ul"></i>
          <% end %>
        <% end %>

        <% if policy(Game).create? %>
          <%= link_to %i[new game] do %>
            <i class="bi bi-plus-circle"></i>
          <% end %>
        <% end %>

        <%= link_to :profile do %>
          <i class="bi bi-person-circle text-green-500 hover:text-green-700"></i>
        <% end %>

        <%= button_to :logout, method: :delete, class: "hover:text-slate-400", form: { class: "inline" } do %>
          <i class="bi bi-door-open"></i>
        <% end %>

      </div>
    <% end %>
  </nav>
<% end %>
