<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Terraforming Mars Stats" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag :tailwind, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <% if authenticated? %>
        <% if Current.user.admin? %>
          <span style="color: orange;">ADMIN</span>
        <% end %>
        <% if policy(Game).index? %>
          <%= link_to "[All games]", games_path %>
        <% end %>
        <% if policy(Game).create? %>
          <%= link_to "[New game]", new_game_path %>
        <% end %>
        <%= link_to "[My profile]", profile_path %>
        <% if policy(User).index? %>
          <%= link_to "[All users]", users_path %>
        <% end %>
        <% if policy(User).create? %>
          <%= link_to "[New user]", new_user_path %>
        <% end %>
        <%= button_to "Logout", logout_path, method: :delete, form: { style: "display: inline;" } %>
      <% elsif !(controller_name == "sessions" && action_name = "new") %>
        <%= link_to "Login", login_path %>
      <% end %>
    </nav>

    <% if flash[:alert] %>
      <div style="color: red;">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div style="color: green;">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
